[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# datadir=/dev/shm/mysql
symbolic-links=0
sync_binlog = 0

max_allowed_packet=300M

#log-bin = mysqld-bin
#slow_query_log      = 1
#slow_query_log_file = /var/lib/mysql/slow.log
#log-queries-not-using-indexes # show queries not using index
#long_query_time     = 0

max_connections=1024
thread_cache       = 600
thread_concurrency = 8
#table_cache        = 8192
table_open_cache        = 8192
back_log           = 10240

query_cache_size    =    0
query_cache_type    =    0

key_buffer_size                 = 32M
innodb_buffer_pool_size         = 10G
innodb_log_buffer_size          = 8M
#innodb_additional_mem_pool_size = 10M
innodb_file_per_table = 0

innodb_log_files_in_group       = 3
innodb_log_file_size            = 128M
innodb_flush_log_at_trx_commit  = 0
innodb_lock_wait_timeout        = 5
innodb_flush_method             = O_DIRECT
innodb_adaptive_hash_index      = 0
innodb_thread_concurrency       = 30
innodb_read_io_threads          = 16
innodb_write_io_threads         = 16
innodb_io_capacity              = 200
innodb_stats_on_metadata        = Off

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
